h1 {
    text-align: center;
    background-image: url(../images/vecteezy_blue-background-pictures-hd-cyan-wallpaper-download-free_21686132.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
body {
    background-image: url(../images/Windows\ XP.jpg);
    background-size: cover;
}
button {
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-image: url(../images/blue-abstract-clean-soft-beautiful-wallpaper-background-desktop-with-generative-ai_455711-1591.jpg);
    background-size: cover;
    width: 100%;
    border-radius: 10px;
}
button:hover {
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-image: url(../images/Windows\ XP.jpg);
    width: 100%;
    background-size: cover;
    border-radius: 10px;
}
.window {
    background-image: url(../images/3d-rendering-sestiugol-noi-tekstury-fona.jpg);
    background-size: cover;
    display: inline-block;
    width: 100%;
    max-width: 700px;
    margin-right: 40px;
    border-radius: 10px;
}
.window>p {
    margin-left: 20px;
    font-size: 20px;
    color: aqua;
}
.info {
    color: orangered;
}
.windo {
    background-image: url(https://img.freepik.com/premium-photo/abstract-fractal-texture-wisps-lights-background-design-dreamy-forms-colors-subject-dream-imagination-fantasy_27525-15031.jpg);
    background-size: cover;
    display: inline-block;
    width: 324px;
    border-radius: 10px;
}
.windo>p {
    margin-left: 20px;
    font-size: 20px;
    color: aqua;
}
.btn {
    text-align: center;
}
img {
    border-radius: 10px;
    text-align: center;
}
.button {
    text-align: center;
}
.win {
    text-align: center;
}